.half-screen-content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Esto asegura que el contenedor ocupe toda la altura disponible */
}

.centered-content {
  text-align: center;
}

.Calendario {
  max-width: 100%;
  max-width: 500px; /* Ajusta este valor si es necesario */
  margin: 0 auto; /* Centrará horizontalmente el calendario */
}

/* Media query para dispositivos con 393px de ancho y 851px de alto */
@media (max-width: 393px) and (max-height: 851px) {


  .calendar-container {
      flex-basis: 100%;
  }

  .Calendario {
 /* Ajusta este valor si es necesario */
    margin-left: 50px;
    margin-right: 50px; /* Centrará horizontalmente el calendario */
  }

  .Listado {
      flex-basis: 100%; /* Ocupa el resto del espacio */
      overflow-y: auto; /* Permite el desplazamiento si el contenido es mayor que la altura */
  }
}