.completed-activity {
  color: green;
}

  /* legend-modal.component.scss */
  .legend-button {
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 5px 5px; /* Espaciado interno */
    font-size: 15px; /* Tamaño de la fuente */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
  
    &:hover {
      background-color: #0056b3; /* Color de fondo al pasar el cursor */
    }
  
    &:focus {
      outline: none; /* Sin borde de enfoque */
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Sombra al enfocar */
    }
  }

.activity-item {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.activity-estudio,
.activity-trabajo,
.activity-hogar,
.activity-ocio {
  --background: none;
  background-color: inherit; /* Inherit background color to ion-item */
}

.activity-estudio {
  background-color: #b3e5fc; /* Celeste */
}

.activity-trabajo {
  background-color: #ffcc80; /* Mandarina */
}

.activity-hogar {
  background-color: #fff176; /* Girasol */
}

.activity-ocio {
  background-color: #e1bee7; /* Lavanda */
}

.activity-label {
  flex-grow: 1; /* Ensure the label takes up available space */
}

@media (max-width: 391px) {
  ion-button {
    font-size: 8px; /* Tamaño de fuente reducido para dispositivos móviles */
    //padding: 4px 8px; /* Padding reducido para dispositivos móviles */
  }
}

  /* Media query para dispositivos con 393px de ancho y 851px de alto */
  @media (max-width: 301px)  {
    ion-button {
      font-size: 8px; /* Tamaño de fuente reducido para dispositivos móviles */
      //padding: 4px 8px; /* Padding reducido para dispositivos móviles */
    }
  }

  @media (max-width: 361px) {
    ion-button {
      font-size: 8px; /* Tamaño de fuente reducido para dispositivos móviles */
      //padding: 4px 8px; /* Padding reducido para dispositivos móviles */
    }
  }

  @media (max-width: 391px) {
    ion-button {
      font-size: 8px; /* Tamaño de fuente reducido para dispositivos móviles */
      //padding: 4px 8px; /* Padding reducido para dispositivos móviles */
    }
  }

  @media (max-width: 413px)  {
    ion-button {
      font-size: 8px; /* Tamaño de fuente reducido para dispositivos móviles */
      //padding: 4px 8px; /* Padding reducido para dispositivos móviles */
    }
  }

  @media (max-width: 371px) {
    ion-button {
      font-size: 8px; /* Tamaño de fuente reducido para dispositivos móviles */
      //padding: 4px 8px; /* Padding reducido para dispositivos móviles */
    }

  }

  @media (max-width: 415px)  {
    ion-button {
      font-size: 8px; /* Tamaño de fuente reducido para dispositivos móviles */
      //padding: 4px 8px; /* Padding reducido para dispositivos móviles */
    }
  }

  
  @media (max-width: 428px)  {

    ion-button {
      font-size: 8px; /* Tamaño de fuente reducido para dispositivos móviles */
      //padding: 4px 8px; /* Padding reducido para dispositivos móviles */
    }
  }
  
  @media (max-width: 394px) {

    ion-button {
      font-size: 8px; /* Tamaño de fuente reducido para dispositivos móviles */
      //padding: 4px 8px; /* Padding reducido para dispositivos móviles */
    }
    .legend-button {
      background-color: #007bff; /* Color de fondo */
      color: white; /* Color del texto */
      border: none; /* Sin borde */
      padding: 5px 5px; /* Espaciado interno */
      font-size: 7px; /* Tamaño de la fuente */
      border-radius: 5px; /* Bordes redondeados */
      cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
      transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
    
      &:hover {
        background-color: #0056b3; /* Color de fondo al pasar el cursor */
      }
    
      &:focus {
        outline: none; /* Sin borde de enfoque */
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Sombra al enfocar */
      }
    }
  }

