<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>

      <ion-card-title class="titulo">Descripción</ion-card-title>
       
    </ion-card-header>
     
    <ion-card-content>
      <p id="descripcion">
      Aplicación móvil desarrollada en Angular Ionic que puede ayudar a gestionar las diferentes tareas de los usuarios con una configuración básica, permitiendo llevar registro fotográfico de las actividades, y poder visualizar estas actividades a través de un calendario en base a la fecha que fue registrada. 
    </ion-card-content>
    
  </ion-card>

  <ion-card>
    <ion-card-header>

      <ion-card-title class="titulo">Autores</ion-card-title>
       
    </ion-card-header>
     
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <img class="img-autores" src="assets/img/César_Arana.jpg" alt="César Arana">
            <p id="autores">César Arana</p>
          </ion-col>
          <ion-col size="4">
            <img>
            <img class="img-autores" src="assets/img/Leonel_Cabrera.jpg" alt="Leonel Cabrera">
            <p id="autores">Leonel Cabrera</p>
          </ion-col>
          <ion-col size="4">
            <img class="img-autores" src="assets/img/Marcos_Moreira.jpg" alt="Marcos Moreira">
            <p id="autores">Marcos Moreira</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    
  </ion-card>

</ion-content>