.titulo {
    color: var(--ion-color-primary);
      font-weight: bold;
      text-align: center;
  }
 
  p#descripcion {
    text-align: justify;
  }

  .img-autores {
    width: 500px; /* Ajusta el ancho según sea necesario */
    height: 500px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
  }

  @media (max-width: 394px) {
    .img-autores {
      width: 150px; /* Ajusta el ancho según sea necesario */
      height: 150px; /* Ajusta la altura según sea necesario */
      object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
    }
  }

  @media (max-width: 481px) {
    .img-autores {
      width: 150px; /* Ajusta el ancho según sea necesario */
      height: 150px; /* Ajusta la altura según sea necesario */
      object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
    }
  }
  @media (max-width: 371px) {
    .img-autores {
      width: 150px; /* Ajusta el ancho según sea necesario */
      height: 150px; /* Ajusta la altura según sea necesario */
      object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
    }
  }
  @media (max-width: 351px) {
    .img-autores {
      width: 150px; /* Ajusta el ancho según sea necesario */
      height: 150px; /* Ajusta la altura según sea necesario */
      object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
    }
  }
  @media (max-width: 411px) {
    .img-autores {
      width: 150px; /* Ajusta el ancho según sea necesario */
      height: 150px; /* Ajusta la altura según sea necesario */
      object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
    }
  }
  