.activity-estudio {
    background-color: #b3e5fc; /* Celeste */
  }
  .activity-trabajo {
    background-color: #ffcc80; /* Mandarina */
  }
  .activity-hogar {
    background-color: #fff176; /* Girasol */
  }
  .activity-ocio {
    background-color: #e1bee7; /* Lavanda */
  }

  @media (max-width: 394px) {
    .titulo {
      font-size: 14px; 
    }
  }
  @media (max-width: 481px) {
    .titulo {
      font-size: 14px; 
    }
  }
  @media (max-width: 371px) {
    .titulo {
      font-size: 14px; 
    }
  }
  @media (max-width: 351px) {
    .titulo {
      font-size: 14px; 
    }
  }
  @media (max-width: 411px) {
    .titulo {
      font-size: 14px; 
    }
  }
