<ion-header>
  <ion-toolbar>
    <ion-title>Leyenda de Colores de las Actividades</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label class="activity-estudio">Estudio</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="activity-trabajo">Trabajo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="activity-hogar">Hogar</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="activity-ocio">Ocio</ion-label>
    </ion-item>
  </ion-list>
</ion-content>